.SoftPage-background {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10vh auto;
  align-content: flex-start;
  grid-row-gap: 1.5vh;
}

.SoftPage-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto auto;
  grid-row-gap: 3vh;
  justify-content: space-around;
}
