.product-card {
    display: grid;
    margin: 25px;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 30px;
    background-color: rgb(210, 214, 214);
    border: 2px solid teal;
    max-height: fit-content;
    
}

.product-card-buttomAdd {
    background-color: rgb(234, 185, 234);
    border-color: rgb(171, 171, 171);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.product-card-img {
    border-radius: 20px;
    border-bottom: 3px rgb(234, 185, 234) solid;
    align-items: center;
    justify-content: center;
}

.product-card-price {
    font-size: 20px;
    font-weight: bold;
}

.product-card-option{
    width: fit-content;
    margin: auto;
    margin-top: 5px;
    text-align: center;

}
