.NavBar {
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  background-color: peru;
}
a {
  text-decoration: none;
  color: antiquewhite;
}

.NavBar-B1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  padding: 20px;
}
.NavBar-B2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.NavBar-B3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2vh;
}

.NavBar-B1-Cat1 {
  padding-right: 10px;
}

.NavBar-B1-Cat1:hover {
  padding-right: 10px;
  color: dimgrey;
}

.NavBar-B1-Cat2 {
  padding-right: 10px;
}

.NavBar-B1-Cat2:hover {
  padding-right: 10px;
  color: dimgrey;
}
